{% extends 'main/index.html' %}
{% load static %}
{% block title %}Портфолио{% endblock %}

{% block body %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<section class="product-section">
    <div class="grid-container">
        <div class="col-md-12">
            <h2 class="brand-jumbotron__desc-title">Наши работы</h2>
        </div>
            <div class="col-md-12">
                <div class="slider-products slider-products--latent js-slick--products-latent clearfix">
                    {% for port in item_list %}
                        <div  class="slider-products__slide product-section__item__portfolio">
                            <img src="{{ port.picture.url }}" alt="" class="press__item-img__portfolio">
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
</section>
<br>
{% endblock %}