
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="светодиодное освещение
     от производителя! Широкий ассортимент офисного, промышленного,
      уличного освещения. Индивидуальный подход к каждому клиенту,
       подбор, светорасчет. Лучшие цены только у нас!">
    <meta name="keywords" content="светильники, свет, светодиодное, минск, светорассчет, подбор, освещение">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная страница{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/adaptiveMain.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/adaptiveProduct.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/light.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/media.css' %}">

    <script src="/static/main/js/bigpicture.js"></script>

</head>
<body>
    {% block header %}
    <header>
       <div class="logo">
           <a href="{% url 'home' %}"><img src="/static/main/img/ASV-LED.png" width="220" height="60" alt="homeBTN"></a>
       </div>
       <nav class="menu">
           <ul class="menu_navigation">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'catalog' %}">Продукция</a></li>
                <li><a href="{% url 'portfolio' %}">Портфолио</a></li>
                <li><a href="{% url 'calc' %}">Светорасчет</a></li>
                <li class="contact_link"><a href="#contacts">Контакты</a></li>
               <div class="button_close"><div class="button_close_item"></div></div>
           </ul>
       </nav>
       <div class="tel">
           <div class="tel_mail">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                </svg>
                <a class="tel_link" href="mailto:ASV-LED@yandex.by" class="me-2">ASV-LED@yandex.by</a>
           </div>
           <div class="tel_contact">
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                </svg>
                <a class="tel_link" href="tel:375298877741">+375(29)88-777-41</a>
           </div>

       </div>
        <div class="button_menu"><div class="button_menu_item"></div></div>
        <div class="burger_bg"></div>
    </header>
    <div class="page-footer__separator-line">
    </div>
    {% endblock %}
{% block body %}
    <div class="itc-slider" data-autoplay="false" data-interval="4000" data-loop="true" data-refresh="true" data-slider="itc-slider">
        <div class="itc-slider-wrapper">
            <div class="itc-slider-items">
<!--                <div class="itc-slider-item">-->
<!--                    <img src="/static/main/img/ASV.png" alt="" class="slide-pref">-->
<!--                      <div class="shadow">-->
<!--                          <h1>Светорассчет</h1>-->
<!--                          <h2>Опытные специалисты всегда готовы оказать помощь в светорасчете для ваших нужд</h2>-->
<!--                          <button class="btn btn&#45;&#45;first" data-link="/">В каталог</button>-->
<!--                      </div>-->
<!--                </div>-->
                {% for slide in slide_list %}
                <div class="itc-slider-item">
                    <img src="{{ slide.picture.url }}" alt="" class="slide-pref">
                      <div class="shadow">
                          <h1>{{ slide.title }}</h1>
                          <h2>{{ slide.description }}</h2>
                          {% if slide.url %}
                          <a href="{{ slide.url }}" class="slider-a"><button class="btn btn--first" >{{ slide.button }}</button></a>
                          {% endif %}
                      </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Кнопки для перехода к предыдущему и следующему слайду -->
        <button class="itc-slider-btn itc-slider-btn-prev"></button>
        <button class="itc-slider-btn itc-slider-btn-next"></button>
    </div>
    <section class="product-section">
        <div class="grid-container">
            <div class="col-md-12">
                <h2 class="brand-jumbotron__desc-title">Продукция</h2>
            </div>
            <div class="col-md-12">
                <div class="slider-products slider-products--latent js-slick--products-latent clearfix">
                    {% for prod in prod_list %}
                    <div  class="slider-products__slide">
                        <a class="product-section__item" href="/catalog/filter/?category={{ prod.url }}">
                            <img src="{{ prod.image.url }}" alt="" class="press__item-img">
                            <div class="product-section__item-heading">{{ prod.name }}</div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

{% block about %}
    <div class="col-md-6 col-md-offset-3">
        <div class="page-footer__separator-line">
        </div>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="brand-jumbotron__desc-inner">
            <h2 class="brand-jumbotron__desc-title">О бренде</h2>
            <p class="brand-jumbotron__desc-text">
                ООО "СветАпгрейтПластик" (бренд ASV) - производитель светодиодного
                освещения любой сложности на территории Республики Беларусь. Компания предлагает
                широкий ассортимент осветительной продукции для оснащения жилых, общественных,
                торговых, так и производственных помещений.
            </p>
        </div>
    </div>
{% endblock %}
                <!--contacts-->
{% block contacts %}
    <div class="col-md-6 col-md-offset-3">
        <div class="page-footer__separator-line">
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="brand-jumbotron__desc-inner"><a href="" name="contacts"></a>
            <h2 class="brand-jumbotron__desc-title">Контактные данные</h2>
            <p class="brand-jumbotron__desc-text">ООО "СветАпгрейтПластик"</p>
            <p class="brand-jumbotron__desc-text">г. Минск, ул. Центральная 47</p>
            <p class="brand-jumbotron__desc-text">E-mail:
                <a class="link link--secondary" href="mailto:ASV-LED@yandex.by">ASV-LED@yandex.by</a>
            </p>
            <p class="brand-jumbotron__desc-text">Контактный номер:
                <a class="link link--secondary" href="tel:+375298877741">+375(29)88-777-41</a>
            </p>
        </div>
        <br>
    </div>
{% endblock %}

<script src="/static/main/js/slide.js" defer></script>
<script src="/static/main/js/adaptiveMenu.js" defer></script>
</body>
</html>