{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Подробнее{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css"/>

<div class="container">
  <div class="row details-block">
    <div class="col-5">
      <div class="f-carousel" id="myCarousel">
        {% for image in detail.catalogimages_set.all %}
        <div class="f-carousel__slide details-pictures" data-thumb-src="{{ image.image.url }}">
          <img  alt="" data-lazy-src="{{ image.image.url }}" class="carousel-img"/>
        </div>
        {% endfor %}
      </div>
    </div>


    <div class="col-7">
      <div class="brand-jumbotron__desc-title details-header">{{ detail.name }}</div>
      <div class="details-description">{{ detail.description }}</div>
        <br>
      <div class="tech">Технические характеристики</div>
      <div class="details-table">
            <table class="table caption-top">
              <tbody>
                <tr>
                  <th>Вид светильника</th>
                  <td>{{ detail.vid_sv }}</td>
                </tr>
                <tr>
                  <th>Тип монтажа</th>
                  <td>{{ detail.tip_mon }}</td>
                </tr>
                <tr>
                  <th>Максимальная мощность</th>
                  <td>{{ detail.max_power }}</td>
                </tr>
                <tr>
                  <th>Температура света</th>
                  <td>{{ detail.temp_sveta }}</td>
                </tr>
                <tr>
                  <th>Световой поток</th>
                  <td>{{ detail.svet_potok }}</td>
                </tr>
                <tr>
                  <th>Цвет корпуса</th>
                  <td>{{ detail.color }}</td>
                </tr>
                <tr>
                  <th>Свет</th>
                  <td>{{ detail.svet }}</td>
                </tr>
                <tr>
                  <th>Срок службы</th>
                  <td>{{ detail.srok }}</td>
                </tr>
                <tr>
                  <th>Размер</th>
                  <td>{{ detail.size }}</td>
                </tr>
                <tr>
                  <th>Напряжение питания</th>
                  <td>{{ detail.napruga }}</td>
                </tr>
                <tr>
                  <th>Степень защиты</th>
                  <td>{{ detail.protection }}</td>
                </tr>
                <tr>
                  <th>Коэфициент пульсации</th>
                  <td>{{ detail.coef_puls }}</td>
                </tr>
                <tr>
                  <th>Гарантия</th>
                  <td>{{ detail.garant }}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>
  <script>
    new Carousel(document.getElementById("myCarousel"), {
      // Your custom options
      Dots: false,
      Thumbs: {
        type: "classic",
      },
    }, { Thumbs });
  </script>
{% endblock %}

{% block about %}{% endblock %}
