{% extends 'main/index.html' %}
{% load static %}
{% block title %}Продукция{% endblock %}

{% block body %}
<script src="/static/main/js/slider-power.js" defer></script>
<script src="/static/main/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" />


        <div class="container container-prod">
            <div class="main-content">
                <div class="col-md-3">
                    <div class="filters-menu">
                        <form action="{% url 'filter' %}" method="get" name="filter" id="filter-form">
                            <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Категория</span>
                                </div>
                                <div class="filters-menu-content">
                                    {% for category in view.get_category %}
                                        <input type="checkbox" class="checked" name="category" value="{{ category.url }}" id="category">
                                            <span>{{ category.name }}</span>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Цветовая температура, К</span>
                                </div>
                                <div class="filters-menu-content">
                                    {% for kelvin in view.get_kelvin %}
                                        <input type="checkbox" class="checked" name="temp_sveta" value="{{ kelvin.url }}" id="kelvin">
                                            <span>{{ kelvin.name }}</span>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Степень защиты</span>
                                </div>
                                <div class="filters-menu-content">
                                    {% for protection in view.get_protection %}
                                        <input type="checkbox" class="checked" name="protection" value="{{ protection.url }}" id="protection">
                                            <span>{{ protection.name }}</span>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Мощность, Вт</span>
                                </div>
                                <div class="input-group">
                                        <input type="number" class="form-control" name="min_power" placeholder="От" min="1" id="min_power">
                                        <input type="number" class="form-control" name="max_power" placeholder="До" max="9999" id="max_power">
                                </div>
                            </div>
                        <button type="submit" class="btn btn--first">Найти</button>
                        </form>
                    </div>
        </div>
        <div class="col-md-9">
            <div class="row ">
                {% if item_list %}
                {% for el in item_list %}
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="{{ el.get_absolute_url }}"><img src="{{ el.image.url }}" alt=""></a>
                    </div>
                    <div class="product-details">
                        <div class="product-bottom-details d-flex justify-content-center">
                            <h4><a href="{{ el.get_absolute_url }}">{{ el.name }}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    Товары отсутствуют
                {% endif %}
            </div>
        </div>
  </div>
</div>
{% endblock %}