{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Продукция{% endblock %}

{% block body %}
<script src="/static/main/js/slider-power.js" defer></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" />
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />-->


        <div class="container container-prod">
            <div class="">
                <div class="col-md-3">
                    <div class="filters-menu">
                        <form action="{% url 'filter' %}" method="get">

                            <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Категория</span>
                                </div>
                                <div class="filters-menu-content">
                                    {% for category in view.get_category %}
                                        <input type="checkbox" class="checked" name="category" value="{{ category.id }}">
                                            <span>{{ category.name }}</span>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Цветовая температура, К</span>
                                </div>
                                <div class="filters-menu-content">
                                    {% for item_list in view.get_kelvin %}
                                        <input type="checkbox" class="checked" name="temp_sveta" value="{{ item_list.temp_sveta }}">
                                            <span>{{ item_list.temp_sveta }}</span>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Степень защиты</span>
                                </div>
                                <div class="filters-menu-content">
                                    {% for protection in view.get_protection %}
                                        <input type="checkbox" class="checked" name="protection" value="{{ protection.id }}">
                                            <span>{{ protection.name }}</span>
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>

                        <button type="submit">найти</button>
                        </form>



                        <div class="filters-menu-block">
                                <div class="filters-menu-heading">
                                        <span>Мощность, Вт</span>
                                </div>
                                <div class="filters-menu-content">
                                    <div id="slider-outer-div-power">
                                        <div class="col-md-2 form-label">от</div>
                                        <div id="slider-max-label" class="form-control input-sm disabled col-md-4"></div>
                                        <div class="col-md-2 form-label">до</div>
                                        <div id="slider-min-label" class="form-control input-sm disabled col-md-4"></div>
                                        {% block slider %}
                                            <div id="slider-div">
                                                        <div class="form-group form-group-range col-md-12">
                                                            <label for="ex2">
                                                                <input type="text"  id="ex2" data-slider-min="10"
                                                                data-slider-max="1500" data-slider-step="10" data-slider-value="[10,1500]"
                                                                data-slider-tooltip="hide" class="form-control input-sm disabled" disabled="" >
                                                            </label>
                                                        </div>
                                            </div>
                                        {% endblock %}
                                    </div>
                                </div>
                        </div>




<!--                        <div class="filters-menu-block">-->
<!--                            <div class="filters-menu-heading">-->
<!--                                    <span>Степень защиты</span>-->
<!--                            </div>-->
<!--                            <div class="filters-menu-content">-->
<!--                                {% for protection in view.get_protection %}-->
<!--                                    <input type="checkbox" class="" name="category" value="{{ protection.protection }}">-->
<!--                                        <span>{{ protection.name }}</span>-->
<!--                                    <br>-->
<!--                                {% endfor %}-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
        </div>

        <div class="col-md-9">
            <div class="row ">
                {% if item_list %}
                {% for el in item_list %}
                <div class="product-card">
                    <div class="product-thumb">
                        <a href="{{ el.get_absolute_url }}"><img src="{{ el.image.url }}" alt=""></a>
                    </div>
                    <div class="product-details">
                        <div class="product-bottom-details d-flex justify-content-center">
                            <h4><a href="{{ el.get_absolute_url }}">{{ el.name }}</a></h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                    товары отсутствуют
                {% endif %}
            </div>
        </div>
  </div>
</div>
{% endblock %}


<!--{% for power in view.get_power %}-->
<!--    <input type="checkbox" class="" name="category" value="{{ power.max_power }}">-->
<!--        <span>{{ power.name }}</span>-->
<!--    <br>-->
<!--{% endfor %}-->

<!--name="category" value="{{ kelvin.temp_sveta }}-->