{% extends 'main/index.html' %}
{% load static %}
{% block title %}Подробнее{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.css"/>

<div class="container">
  <div class="row details-block">
    <div class="col-5">
      <div class="f-carousel" id="myCarousel">
        {% for image in detail.catalogimages_set.all %}
        <div class="f-carousel__slide details-pictures" data-thumb-src="{{ image.image.url }}">
          <img  alt="" data-lazy-src="{{ image.image.url }}" class="carousel-img"/>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-7">
      <div class="brand-jumbotron__desc-title details-header">{{ detail.name }}</div>
      <div class="details-description">{{ detail.description }}</div>
        <br>
      <div class="tech">Технические характеристики</div>
      <div class="details-table">
            <table class="table caption-top">
              <tbody>
                <tr>
                  <th>Категория</th>
                  <td>{{ detail.category }}</td>
                </tr>
                <tr>
                <tr>
                  <th>Тип лампы</th>
                  <td>{{ detail.lamp_type }}</td>
                </tr>
                <tr>
                  <th>Тип рассеивателя</th>
                  <td>{{ detail.rass_type }}</td>
                </tr>
                <tr>
                  <th>Мощность</th>
                  <td>{{ detail.power }}</td>
                </tr>
                <tr>
                  <th>Световой поток</th>
                  <td>{{ detail.svet_potok }}</td>
                </tr>
                <tr>
                  <th>Цветовая температура</th>
                  <td>{{ detail.temp_sveta }}</td>
                </tr>
                <tr>
                  <th>Номинальное напряжение</th>
                  <td>{{ detail.napruga }}</td>
                </tr>
                <tr>
                  <th>Номинальная частота</th>
                  <td>{{ detail.herz }}</td>
                </tr>
                <tr>
                  <th>Коэффициент мощности</th>
                  <td>{{ detail.koef_power }}</td>
                </tr>
                <tr>
                  <th>Коэффициент цветопередачи</th>
                  <td>{{ detail.koef_ra }}</td>
                </tr>
                <tr>
                  <th>Степень защиты</th>
                  <td>{{ detail.protection }}</td>
                </tr>
                <tr>
                  <th>Коэффициент пульсации</th>
                  <td>{{ detail.coef_puls }}</td>
                </tr>
                <tr>
                  <th>Допустимая температура эксплуатации</th>
                  <td>{{ detail.usage_temp }}</td>
                </tr>
                <tr>
                  <th>Габариты</th>
                  <td>{{ detail.size }}</td>
                </tr>
                <tr>
                  <th>Тип монтажа</th>
                  <td>{{ detail.tip_mon }}</td>
                </tr>
                <tr>
                  <th>Гарантия</th>
                  <td>{{ detail.garant }}</td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>


  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/carousel/carousel.thumbs.umd.js"></script>
  <script>
    new Carousel(document.getElementById("myCarousel"), {
      // Your custom options
      Dots: false,
      Thumbs: {
        type: "classic",
      },
    }, { Thumbs });
  </script>
{% endblock %}

{% block about %}{% endblock %}
