{% extends 'main/index.html' %}
{% load static %}
{% block title %}Каталог{% endblock %}

{% block body %}
<section class="product-section">
    <div class="grid-container">
        <div class="col-md-12">
            <h2 class="brand-jumbotron__desc-title">Категории</h2>
        </div>
        <div class="col-md-12">
            <div class="slider-products slider-products--latent js-slick--products-latent clearfix">
                {% for category in categories %}
                    <div  class="slider-products__slide">
                        <a class="product-section__item" href="{{ category.get_absolute_url }}">
                            <img src="{{ category.image.url }}" alt="" class="press__item-img">
                            <div class="product-section__item-heading">{{ category.name }}</div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}