{% extends 'main/index.html' %}
{% load static %}
{% block title %}Продукция{% endblock %}
{% block scripts %}
{% endblock %}
{% block body %}
<section class="product-section">
    <div class="grid-container">
        <div class="col-md-12 product-section-title">
            <div class=" product-section-title">
                <h2 class="brand-jumbotron__desc-title">{{ subcategory.name }}</h2>
                <div><h2 class="brand-jumbotron__desc-description text-wrapping">{{ subcategory.description|linebreaksbr }}</h2></div>
            </div>
            <div class="col-md-12">
                <div class="slider-products slider-products--latent js-slick--products-latent clearfix">
                    {% for product in products %}
                        <div  class="slider-products__slide">
                            <a class="product-section__item" href="{{ product.get_absolute_url }}">
                                <div><img src="{{ product.image.url }}" alt="" class="press__item-img"></div>
                                <div class="product-section__item-heading">{{ product.name }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}