{% extends 'main/index.html' %}
{% load static %}
{% block title %}Продукция{% endblock %}

{% block body %}
<section class="product-section">
        <div class="grid-container">
            <div class="col-md-12 product-section-title">
                <div class=" product-section-title">
                    <h2 class="brand-jumbotron__desc-title">{{ category.name }}</h2>
                    <div><h2 class="brand-jumbotron__desc-description text-wrapping">{{ category.description|linebreaksbr }}</h2></div>
                </div>
            <div class="col-md-12">
                <div class="slider-products slider-products--latent js-slick--products-latent clearfix">
                    {% for subcategory in subcategories %}
                        <div  class="slider-products__slide">
                            <a class="product-section__item" href="{{ subcategory.get_absolute_url }}">
                                <img src="{{ subcategory.image.url }}" alt="" class="press__item-img">
                                <div class="product-section__item-heading">{{ subcategory.name }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}