{% extends 'main/index.html' %}
{% load static %}
{% block title %}Продукция{% endblock %}

{% block body %}
<script src="/static/main/js/slider-power.js" defer></script>
<script src="/static/main/js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css" integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w==" crossorigin="anonymous" />


<section class="product-section">
        <div class="grid-container">
            <div class="col-md-12">
<!--                https://www.varton.ru/products/basic-kategoriya/  -->
<!--                заголовок категории и описание как по ссылке-->
                <h2 class="brand-jumbotron__desc-title">{{ category.name }}</h2>
                <h2 class="brand-jumbotron__desc-description">{{ category.description }}</h2>
            </div>
            <div class="col-md-12">
                <div class="slider-products slider-products--latent js-slick--products-latent clearfix">

                    {% for subcategory in subcategories %}
                        <div  class="slider-products__slide">
                            <a class="product-section__item" href="{{ subcategory.get_absolute_url }}">
                                <img src="{{ subcategory.image.url }}" alt="" class="press__item-img">
                                <div class="product-section__item-heading">{{ subcategory.name }}</div>
                            </a>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>







{% endblock %}