.button_menu {
    display:flex;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor:pointer;
    height:40px;
}

.button_menu_item {
    background-color: red;
    height: 2px;
    width: 40px;
}

.button_menu_item::before {
    content:'';
    background-color: red;
    height: 2px;
    width: 40px;
    position: absolute;
    top: 19px;
}

.button_menu_item::after {
    content:'';
    background-color: red;
    height: 2px;
    width: 40px;
    position: absolute;
    top: 9px;
}

@media (max-width: 1180px) {
    .slider-products--latent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 940px) {

    header{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .itc-slider-item{
        height:450px;
    }
    .slide-pref {
        height:100%;
        object-fit:cover;
    }
    .product-section {
        padding-top:10px;
    }
}

@media (max-width:650px) {
    header {
        flex-direction: row;
    }
}

