.button_menu {
    opacity:0;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor:pointer;
    height:40px;
}

.show {
    opacity:0!important;
}
.navigation_active {
    transform: translateX(0)!important;
}

.button_menu_item {
    background-color: red;
    height: 2px;
    width: 40px;
}

.button_menu_item::before {
    content:'';
    background-color: red;
    height: 2px;
    width: 40px;
    position: absolute;
    top: 19px;
}

.button_menu_item::after {
    content:'';
    background-color: red;
    height: 2px;
    width: 40px;
    position: absolute;
    top: 9px;
}

.button_close{
    cursor:pointer;
    position:absolute;
    top:30px;
    right:20px;
    width:40px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.button_close_item {
    width:30px;
    height:2px;
    background:red;
    transform: rotate(45deg);
}

.button_close_item::after {
    content:'';
    width:30px;
    height:2px;
    background:red;
    position:absolute;
    top:0px;
    right:0px;
    transform: rotate(90deg);
}

@media (max-width: 1180px) {
    .slider-products--latent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 940px) {

    header{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .itc-slider-item{
        height:450px;
    }
    .slide-pref {
        height:100%;
        object-fit:cover;
    }
    .product-section {
        padding-top:10px;
    }
}

@media (max-width:650px) {
    header {
        flex-direction: row;
    }
    .button_menu{
        opacity:1;
    }
    .menu_navigation {
        flex-direction: column!important;
        transform: translateX(100%);
        width: 320px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 2;
        background: black;
        align-items: center;
        margin-top:0px!important;
        transition: transform 0.5s;
    }
    .menu li {
        margin-left:0px!important;
        width:80%;

    }
    .menu li a {
        text-align:center;
    }
    .button_close{
    display:flex;
        transition: display 0.8s;

    }
}
